.cardContent_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 200px;
}

.cardContent_wrapper .title1 {
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 40px;
    margin-top: 31px;
}

.cardContent_wrapper .title1  {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    opacity: 1;
}

.cardContent_wrapper h2 {
    color: #222;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0 auto;
}

.cardContent_wrapper #range {
    margin: 0 auto;
    width: 409px;
    height: 8px;
    border-radius: 32px;
    background-color: #7373D7;
    background-position: 0.2;
}

.cardContent_wrapper .title2 {
    color: #7373D7;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 50px;
    margin: 0 auto;
}

.cardContent_box .cardContent_text {
    display: flex;
    gap: 400px;
    margin-bottom: 8px;

}

.cardContent_box .cardContent_text h6 {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.cardContent_box .cardContent_text ul {
    display: flex;
    gap: 110px;
}

.cardContent_wrapper hr {
    width: 100x;
    height: 1px;
    opacity: 0.3;
    background: #222;
    margin-bottom: 16px;
}

.cardContent_img {
    width: 85px;
    height: 113px;
    background-color: #7373D7;
}

.cardContent_img1 {
    width: 85px;
    height: 91px;
    margin: 10px auto;
}

.cardContent_content {
    display: flex;
    gap: 16px;
}

.cardContent_title {
    margin-bottom: 8px;
}

.cardContent_title h4 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;

}

.cardContent_title h3 {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.cardContent_title h5 {
    color: #7373D7;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-decoration-line: underline;
}

.btn_title {
    display: flex;
    margin-left: 80px;
    padding: 43px 0 55px;
}

.btn_title2 {
    display: flex;
    margin-left: 135px;
    padding: 43px 0 55px;
}

.btn_title3 {
    display: flex;
    margin-left: 140px;
    padding: 43px 0 55px;
}

.btn_title4 {
    display: flex;
    margin-left: 200px;
    padding: 43px 0 55px;
}

.btn_text {
    display: flex;
    margin-left: 66px;
    margin-right: 66px;
    width: 121px;
    height: 40px;
    border: 1px solid #222;
    opacity: 0.5;

}

.btn_text h3 {
    color: #42210B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 0 auto;
    margin-top: 10px;
}

.btn_text p {
    color: #42210B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 6px;
    margin-right: 10px;

}

.btn_text h6 {
    color: #7373D7;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 8px;
    margin-left: 5px;
}

.btn_title p {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.btn_title2 p {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.btn_title3 p {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.btn_title4 p {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.cardContent_card {
    display: flex;
}

.type_message h4 {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 8px;
}

.type input {
    width: 411px;
    height: 185px;
    border: 1px solid #222;
    opacity: 0.3;
    margin-bottom: 87px;
}

.type input::placeholder {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    padding: 16px 296px 147px 16px;
    /* margin-bottom: -110px; */
}

.registar_wrapper {
    display: flex;
}

.subtotal {
    margin-left: 133px;
}

.subtotal p {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    margin-bottom: 16px;
}


.subtotal_text {
    display: flex;
}

.subtotal_text h4 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.subtotal_text h3 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-left: 172px;
}

.subtotal_title1 {
    display: flex;
    margin-bottom: 8px;
}

.subtotal_title1 h4 {
    color: #7373D7;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.subtotal_title1 h3 {
    color: #7373D7;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-left: 185px;
}

.subtotal_title2 {
    display: flex;
    margin-bottom: 16px;
}

.subtotal_title2 h4 {
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.subtotal_title2 h3 {
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-left: 173px;
}

.subtotal button {
    width: 302px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px 10px 48px;
    gap: 10px;
    background: #7373D7;
    border: none;
}