.featured {
    background: #7373D7;
    height: 371px;
}

.featured_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured h4 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    padding: 80px 0 84px 0;
}