.header {
    margin-top: 75px;
    position: relative;
    z-index: 2;
}

.header_left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.header_light ul li a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 75px;
}

.header_dark ul li a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 75px;

}

.header_right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}



.header_list {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}