.universal_wrapper {
    display: flex;

}

.universal_swiper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-left: -740px;

}



.universal .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7373D7;

}

.universal .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.universal .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.universal .swiper-slide {
    background-size: cover;
    background-position: center;
}

.universal .mySwiper2 {
    width: 518px;
    height: 753px;
    flex-shrink: 0;
    background: #7373D7;
    margin-left: 50px;

}

.universal_swiper .mySwiper {

    width: 85px;
    height: 613px;
    color: #7373D7;
    margin-left: 740px;
}

.mySwiper2:nth-of-type(3) {
    color: white;
}

.universal .mySwiper .swiper-wrapper {
    flex-direction: column;
}

.universal .mySwiper .swiper-slide {
    /* width: 100%;
    height: 100%; */
    opacity: 1;
}

.universal.mySwiper .swiper-slide-thumb-active {
    opacity: 2;
}

.universal .swiper-slide img {
    display: block;
    /* width: 100%;
    height: 100%; */
    /* margin-top: -50px; */
    margin: 0 auto;
}

.universal .universal_text1 {
    display: flex;
    margin-top: 100px;
}

.universal .universal_text1 p {
    margin-top: -100px;
    color: #555;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.5;
    display: flex;
    align-items: center;

}

.universal .universal_text1 span {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.universal_text2 {
    padding: 8px 109px 102px 56px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 24px;

}

/* .universal_text2 h2 {
    width: 463px;
    color: #222;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 8px;
} */

.universal_text2 h5 {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.universal_text2 p {
    width: 463px;
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.universal_text2 p span {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.universal_text2 span {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.universal_text2 .radio {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    border: 1px solid #7373D7;

}

.universal_text2 .radio1 {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.universal_text2 .radio2 {
    color: #222;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: strikethrough;
    opacity: 0.4;
    display: flex;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 16px;
    width: 500px;
}

.universal_text2 h6 {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;

}

.universal_text2 .add1 {
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid #B7B7B7;
    opacity: 0.3;
    width: 161px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.universal_text2 .add1 span {

    margin-left: 15px;
    color: #7373D7;
}


.universal_text2 .add2 {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    padding: 16px 57px 12px 58px;
    background: #7373D7;
    border: none;
    margin-left: 100px;
    height: 55px;
    margin-top: 10px;
}

.universal_text2 .add {

    display: grid;
    grid-template-columns: 13.4% 60%;
    margin-left: -20px;

}

.universal_starting h5 {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    width: 152px;
}

.universal_starting p {
    color: #7373D7;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    text-decoration-line: underline;
}

.universal_starting {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.universal_list li {
    /* width: 463px;
    height: 54px; */
    /* border: 1px solid rgba(0, 0, 0, 0.425); */
    color: #222222e1;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    padding: 16px 366px 16px 0;
}

.universal_list hr {
    opacity: 0.3;
    background: rgba(85, 85, 85, 0.37);
    width: 463px;
}