*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.container{
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; 
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}